.detail_of_players .container {
    width: 50%;
    margin-bottom: 40px;
}

.detail_of_players .form_group>* {
    margin: 20px 0 !important;
}

.detail_of_players .child_contaner {
    display: flex !important;
    justify-content: center !important;
}

.detail_of_players .item_container {
    max-width: 700px;
    width: 100%;
}

.detail_of_players .text>* {
    padding-left: 10px;
    margin-bottom: 10px !important;
    box-shadow: none !important;
    font-size: 20px !important;
    text-align: left;
}

.detail_of_players .text {
    -webkit-box-shadow: 4px 4px 11px 0px rgba(166, 164, 166, 1);
    -moz-box-shadow: 4px 4px 11px 0px rgba(166, 164, 166, 1);
    box-shadow: 4px 4px 11px 0px rgba(166, 164, 166, 1);
}

.detail_of_players .heading {
    margin: 40px 0 !important;
    font-size: 30px !important;
    text-align: center;
}