.edit_players .container {
    width: 50% !important;
    padding: 20px;
    margin-bottom: 50px;
}

.edit_players .form_group > * {
    margin: 15px 0 !important;
    text-align: left;
}

.edit_players .text {
    margin: 40px 0 20px !important;
    font-size: 30px !important;
    text-align: center;
}